.header__subtitle {
    position: absolute;
    bottom: 30px;
    color: black;
    left: 64px;
    max-width: 388px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }