  .page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    background-color: #f2f2f2;
    overflow: hidden;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    right: 0;
    z-index: -2;
  }

  .logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
  }

  .logo {
    width: 228px;
    height: 32px;
  }

  .header__title {
    margin: 0;
    padding: 0;
    max-width: 730px;
    margin-left: 64px;
    color: black;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
  }

  .header__subtitle {
    position: absolute;
    bottom: 30px;
    color: black;
    left: 64px;
    max-width: 388px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }

  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }

  .header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: -1;
  }

  .description {
    display: flex;
    justify-content: center;
    padding: 100px 0;
  }

  .two-columns {
    display: flex;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
  }


  .two-columns__brief {
    max-width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    color: #2F80ED;
    margin: 0;
    padding: 0;
  }

  .two-columns__main-text {
    margin: 0;
    padding: 0;
    min-width: 784px;
    width: 80%;
  }

  .two-columns__paragraph {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: black;
  }

  .two-columns__paragraph:last-child {
    margin-bottom: 0;
  }

  .two-columns__span-accent {
    font-weight: 600;
  }

  .digits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;


  }

  .section-title {
    margin: 0 auto 20px;
    text-align: center;
    max-width: 60%;
    color: black;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.15;
  }

  .section-subtitle {
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    max-width: 60%;
    margin: 0 auto;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1100px;
    list-style: none;
  }

  .table__cell {
    width: 250px;
    margin-top: 60px;
  }


  .table__heading {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;

  }

  .table__text {
    margin: 0;
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
  }

  .feynman {
    background-color: #f2f2f2;
    background-image: url(../images/feynman.png);
    background-position: left bottom;
    position: relative;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    min-height: 890px;
    padding-top: 100px;
    box-sizing: border-box;

  }

  .feynman__title {
    margin: 0 auto 70px;
    text-align: center;
    max-width: 648px;
    color: black;
    font-size: 120px;
    font-weight: 600;
    line-height: 1.15;
  }

  .feynman__subtitle {
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    margin: 0;
    padding: 0;
  }

  .feynman__link {
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 36px;
    font-weight: normal;
    line-height: 51px;
    text-decoration: none;
  }

  .kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
    padding: 90px 0;
    z-index: 1;
  }

  .section-title_theme_dark {
    color: white;

  }

  .section-subtitle_theme_dark {
    color: white;
  }

  .table__cell_theme_dark {
    max-width: 200px;
    margin-top:80px;
  }

  .table__heading_theme_dark {
    color: #ffffff;
  }

  .table__text_theme_dark {
    color: #ffffff;
  }

  .kaufman__triangle {
    position: absolute;
    background-image: url(../images/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    z-index: -1;
    overflow: hidden;
    right: -210px;
    top: 0;
    background-size: cover;
  }

  .footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 350px;
    background-color: #1f1f1f;
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .footer__author {
    margin: 18px 0;
    color: white;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }

  .footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__column-links {
    margin-bottom: 16px;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
  }

  .footer__column-link {
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
  }

  .footer__column-heading {
    margin: 0 0 20px 0;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
  }

  .footer__social-icon {
    text-decoration: none;
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }

  .header__link:hover {
    color: #000000;
  }

  .feynman__link:hover {
    color: #575454;
  }

  .footer__column-link:hover {
    color: #91e4ed;
  }
